body { background: #cecdd5; text-align: center; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
section {
    padding-bottom: 10%;
    }

    .thumbnail {
    opacity: .4;
    }

    .result ul {
    	width: 20%;
    	margin: 0 auto;
    	padding: 0px;
    	text-align: left;
    }

    input[type=checkbox]  {
        display: none;
    }


    .question {
        display: none;
    }


    .dataq {
        display: block !important;
    }

    .dataquestion {
        display: block;
        text-align: left;
    }

    .highlighted {
    opacity: 1;
    -webkit-box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.75);
    }

    label { display: block; float: left; text-align: center; width: 33%; }

    .question > div { clear: left; }

    .thumbnail:hover {
    opacity: .6;
    cursor: pointer;
    }

    .highlighted:hover {
        opacity: 1 !important; 
    }

    input[type=radio]
    {
    padding: 10px;
    }

    .buttongroup {
      padding: 10%;
      display: inline;
    }
